/* Quadrado indo pro lado pro outro */
.box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation: move 2s infinite alternate;
}

@keyframes move {
    0% {
        left: 0;
    }

    100% {
        left: 200px;
    }
}

/* Bola Pulando */

.ball {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50%;
    position: relative;
    animation: jump 1s infinite alternate;
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 200px;
    }

    100% {
        bottom: 0;
    }
}

/* Triangulo que gira */

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 86.6px solid #2ecc71;
    /* Altura do triângulo é sqrt(3)/2 vezes a base */
    position: relative;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}